
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action"  href="{% url 'edit_profile' %}">General</a>
            <a class="list-group-item list-group-item-action"  href="{% url 'change_password' %}">Change password</a>
            <a class="list-group-item list-group-item-action"   href="{% url 'dashboard' %}">Order Info</a>
            <a class="list-group-item list-group-item-action"  href="#">Notifications</a>
          </div>
        </div>
