{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container" style="
    width: 500px;
    padding: 60px;
">
<div class="card">
      <div class="card-body">
      <h4 class="card-title mb-4" style="text-align: center;">Reset Password</h4>
      <form method="POST" action="{% url 'resetPassword' %}">
       {% csrf_token %}
          {% include 'Alerts.html' %}
          <div class="form-group">
             <label>New password</label>
              <input name="password" class="form-control" placeholder="******" type="password">
          </div>
          <div class="form-group">
             <label>Confirm password</label>
              <input name="confirm_password" class="form-control" placeholder="******" type="password">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Submit </button>
          </div>
      </form>
      </div>
    </div>
</div>



{% endblock %}