{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container" style="
    width: 500px;
    padding: 60px;
">
<div class="card">
      <div class="card-body">
      <h4 class="card-title mb-4" style="text-align: center;">Recover Password</h4>
      <form method="POST" action="{% url 'forgot_pwd' %}">
       {% csrf_token %}
          {% include 'Alerts.html' %}
          <div class="form-group">
             <label>Enter the Registered Email</label>
             <input name="email" class="form-control" placeholder="ex. name@gmail.com" type="email">
          </div> <!-- form-group// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Submit </button>
          </div>
      </form>
      </div>
    </div>
</div>



{% endblock %}